* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.card-list {
  margin: 30px 10%;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 60px;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #00000050, 0 6px 20px 0 #00000050;

  &:hover {
    box-shadow: 0 4px 8px 0 #00000080, 0 8px 25px 0 #00000080;
  }

  img {
    height: 70px;
    width: 70px;
    align-self: center;
    margin: 20px;
  }

  .card-header {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    p {
      margin: 0;
      font-size: 18px;
      color: hsl(0, 0%, 90%);
    }
  }
}

.names {
  font-size: 25px;
  color: hsl(0, 0%, 90%);
}

@media screen and (min-width: 820px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
