* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #324e63;
}

a,
a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  display: flex;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);

  @media screen and (max-width: 768px) {
    height: auto;
    min-height: 100vh;
    padding: 20px;
    flex-direction: column;
  }
}
