@import "../../common/scss/variables";

.section-home {
  .home-wrap {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: url(../../common/images/bgr-home-b.jpg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }

    .img-container {
      background-image: url(../../common/images/star_wars_logo.png);
      background-size: 620px;
      background-repeat: no-repeat;
      background-position: top right;
      position: absolute;
      right: calc(50% - 550px);
      bottom: 100px;
      width: 620px;
      height: 520px;
      z-index: 2;
    }

    .title-container {
      position: relative;
      padding: 20px;
      align-self: flex-start;
      z-index: 2;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: $white-dark;
      }

      h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0.62px;
        text-align: left;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.24px;
      }

      button {
        margin-top: 15px;
        border-radius: 5px;
      }
    }
  }
}
