@import "../../common/scss/variables";
@import "../../common/scss/forms";

.modal {
  position: fixed;
  z-index: 500;
  background-color: $white;
  width: 400px;
  left: calc(50% - 200px);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(14, 14, 14);
  padding: 20px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;

  p {
    font-family: $title;
    font-weight: 700;
  }

  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    background: none;
    border: none;
    &:hover {
      color: black;
    }
  }

  @media (min-width: 992px) {
    width: 600px;
    left: calc(50% - 300px);
  }
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.699);
  z-index: 3;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: auto;

  &.modalBackground {
    opacity: 1;
  }

  &.modal {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-container {
      padding: 165px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
