////////// CONTENT //////////

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: $transition;
  position: relative;
  background-image: linear-gradient(315deg, #2d3436 0%, #181717 74%);

  &.show-panel {
    .side-panel {
      right: 0;
    }
  }
}

main {
  flex: 1;
}

.section-title {
  padding: 30px 0px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  background: $white-dark;

  h1 {
    margin: 0px;
    font-family: $title;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 36px;
    }
  }
}

.section-content {
  padding: 20px;

  &.white {
    background: $white;
  }

  &.gray {
    background: #ececec;
  }
}
