////////// ROBOTO //////////

@font-face {
  font-family: "roboto";
  font-weight: 400;
  src: url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Light.woff") format("woff"),
    url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  font-weight: 500;
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  font-weight: 600;
  src: url("../fonts/roboto/Roboto-Medium.eot");
  src: url("../fonts/roboto/Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Medium.woff") format("woff"),
    url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  font-weight: 800;
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

////////// RALEWAY //////////

@font-face {
  font-family: "raleway";
  font-weight: 200;
  src: url("../fonts/raleway/raleway-light.eot");
  src: url("../fonts/raleway/raleway-light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/raleway-light.woff") format("woff"),
    url("../fonts/raleway/raleway-light.ttf") format("truetype");
}

@font-face {
  font-family: "raleway";
  font-weight: 400;
  src: url("../fonts/raleway/raleway-regular.eot");
  src: url("../fonts/raleway/raleway-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/raleway-regular.woff") format("woff"),
    url("../fonts/raleway/raleway-regular.ttf") format("truetype");
}

@font-face {
  font-family: "raleway";
  font-weight: 500;
  src: url("../fonts/raleway/raleway-medium.eot");
  src: url("../fonts/raleway/raleway-medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/raleway-medium.woff") format("woff"),
    url("../fonts/raleway/raleway-medium.ttf") format("truetype");
}

@font-face {
  font-family: "raleway";
  font-weight: 600;
  src: url("../fonts/raleway/raleway-semibold.eot");
  src: url("../fonts/raleway/raleway-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/raleway-semibold.woff") format("woff"),
    url("../fonts/raleway/raleway-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "raleway";
  font-weight: 700;
  src: url("../fonts/raleway/raleway-bold.eot");
  src: url("../fonts/raleway/raleway-bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/raleway-bold.woff") format("woff"),
    url("../fonts/raleway/raleway-bold.ttf") format("truetype");
}

@font-face {
  font-family: "raleway";
  font-weight: 800;
  src: url("../fonts/raleway/raleway-extrabold.eot");
  src: url("../fonts/raleway/raleway-extrabold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway/raleway-extrabold.woff") format("woff"),
    url("../fonts/raleway/raleway-extrabold.ttf") format("truetype");
}

////////// VAG //////////

@font-face {
  font-family: "vag";
  font-weight: 200;
  src: url("../fonts/vag-rounded/VAG-Rounded-Std-Thin.eot");
  src: url("../fonts/vag-rounded/VAG-Rounded-Std-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/vag-rounded/VAG-Rounded-Std-Thin.woff") format("woff"),
    url("../fonts/vag-rounded/VAG-Rounded-Std-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "vag";
  font-weight: 400;
  src: url("../fonts/vag-rounded/VAG-Rounded-Std-Light.eot");
  src: url("../fonts/vag-rounded/VAG-Rounded-Std-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/vag-rounded/VAG-Rounded-Std-Light.woff") format("woff"),
    url("../fonts/vag-rounded/VAG-Rounded-Std-Light.ttf") format("truetype");
}

@font-face {
  font-family: "vag";
  font-weight: 800;
  src: url("../fonts/vag-rounded/VAG-Rounded-Std-Black.eot");
  src: url("../fonts/vag-rounded/VAG-Rounded-Std-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/vag-rounded/VAG-Rounded-Std-Black.woff") format("woff"),
    url("../fonts/vag-rounded/VAG-Rounded-Std-Black.ttf") format("truetype");
}

@font-face {
  font-family: "vag";
  font-weight: 900;
  src: url("../fonts/vag-rounded/VAG-Rounded-Std-Black.eot");
  src: url("../fonts/vag-rounded/VAG-Rounded-Std-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/vag-rounded/VAG-Rounded-Std-Black.woff") format("woff"),
    url("../fonts/vag-rounded/VAG-Rounded-Std-Black.ttf") format("truetype");
}
