.login-container {
  text-align: center;
  padding: 40px;
  position: relative;
  z-index: 99;

  h1 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 35px;
  }

  .switch-container {
    display: flex;
    flex-direction: column;
    width: auto;

    button {
      color: $black;
      border-color: $gray-dark;
      &:first-child {
        margin-bottom: 30px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

form {
  input {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  &.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      &[type="text"] {
        background: rgba(255, 255, 255, 0.603);
        border-radius: 5px;
        padding: 10px 12px;
      }
    }

    button {
      &.btn {
        margin-top: 20px;
        border-radius: 20px;
        width: auto;
        color: $gray-dark;
        cursor: pointer;

        &:hover {
          border-color: $gray-dark;
        }
      }
    }

    .error-msg {
      font-size: 14px;
      font-weight: 700;
      margin-top: 8px;
      color: $rubin;
    }
  }
}
