////////// TAGS //////////

body {
  position: relative;
  font-family: $text, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0px;
  background: $white-dark;
  color: $black-light;
}

section {
  padding: 20px 0px;
}

img {
  max-width: 100%;
}

a {
  transition: $transition;
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.7;
  }
}

p {
  &:last-child {
    margin: 0px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title;
  font-weight: 700;
  color: $black-light;
}

ul {
  margin: 0px 0px 10px;
  padding: 0px;
  list-style: none;
}

hr {
  border-color: $gray-light;
  margin: 20px 0px;
}

input,
select,
button {
  -webkit-appearance: none;
  text-shadow: none;
  border-style: none;
  border: 1px solid $gray;
  padding: 12px;
}

button,
select {
  cursor: pointer;
}

input:focus,
select:focus {
  border-color: $gray !important;
  outline: none;
  box-shadow: $box-shadow;
}

main {
  min-height: calc(100vh - 190px);
}

////////// CLASS //////////

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.hidden {
  display: none !important;
}

////////// BUTTONS //////////

.btn {
  border: 1px solid $gray;
  border-radius: 2px;
  font-family: $title;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding: 10px 40px;
  color: $white-dark;
  background: transparent;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white-dark;
    border-color: $white-dark;
    background: transparent;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.white {
    color: $white;
    border-color: $white;

    &:hover {
      background: rgba($black, 0.05);
    }
  }

  &.btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url(../images/close-icon.png);
    background-color: $white;
    padding: 10px;
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-color: $black;
  }

  &.btn-trash {
    border: none;
    background-image: url(../images/trash-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    padding: 15px;

    &:hover {
      opacity: 0.8;
    }
  }

  &.btn-solid {
    background: $green;
    border: 1px solid $green;
    color: $white;

    &:hover {
      background: $green-hover;
    }

    &.white {
      background: $white;
      border-color: $white;
      color: $green;

      &:hover {
        opacity: 0.9;
        color: $green-hover;
      }
    }
  }
}

/////// WEBKIT DEFAULT STYLES ////////

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $gray-light;
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: none;
  padding-left: 12px !important;
}

.form-white {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #f587ab;
    -webkit-text-fill-color: $white;
    -webkit-box-shadow: 0 0 0px 1000px $green-light inset;
  }
}
