////////// COLORS //////////

$black: #231f20;
$black-light: #4a4a4a;

$gray-dark: #878787;
$gray-medium: #9b9b9b;
$gray: #cdcdcd;
$gray-light: #e0e0e0;
$gray-soft: #ececec;

$white-black: #f2f2f2;
$white-dark: #f7f8fa;
$white: #ffffff;

$rubin: #e10277;

$green: #9dc722;
$green-light: #c1db73;
$green-medium: #69a507;
$green-dark: #294103;
$green-hover: #3f6304;

$purple: #59559e;
$orange: #f09930;
$orange-dark: #b97828;

////////// GRADIENTS //////////

$gradient-green: linear-gradient(90deg, #a4cc25, #64a407);

////////// SHADOWS //////////

$text-shadow: 1px 1px 0 #999;

$box-shadow: 0px 0px 15px -5px rgba($gray-dark, 0.8);
$box-shadow-light: 0px 0px 15px -5px rgba($gray-dark, 0.5);
$box-shadow-buttons: 0 2px 15px 0 rgba($black, 0.27);

////////// TRANSITIONS //////////

$transition: 0.3s all ease;
$transition-medium: 0.7s all ease;
$transition-long: 1s all ease;

////////// FONTS //////////

$text: "roboto";
$title: "raleway";
$vag: "vag";

$gl-ms: "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs: "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm: "screen and (max-width: 48em)"; // max 768px
$gl-md: "screen and (max-width: 64em)"; // max 1024px
$gl-lg: "screen and (max-width: 80em)"; // max 1280px
