@import "../../common/scss/variables";

.section-jedi {
  padding: 0;

  .button-container {
    display: flex;
    justify-content: center;

    button {
      border-color: #ff9800;
      color: #ff9800;
    }

    &-header {
      padding: 20px;
    }
  }

  .jedi-wrap {
    .title-container {
      padding: 20px 20px 0px 20px;
      margin: 0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: $white-dark;
      }

      h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0.62px;
        text-align: left;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.24px;
      }

      button {
        margin-top: 15px;
        border-radius: 5px;
        border-color: #ff9800;
        color: #ff9800;
      }
    }
  }
}
